*{
    box-sizing: border-box;
}

body{
    font-family:sans-serif;
    margin: 0;
}

/* CSS for header */

header{
    display: flex;
    justify-content: space-between;
    padding: 18px;
    background-color: rgb(81, 44, 206);
}

#logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo p{
    margin: 0;  
    font-size: 1.2rem;
    font-weight: bold;
    color: white; 
}

#form{
    display: flex;
    justify-content: space-between;
    border-radius: 50px;
    background-color: transparent;
    font-size: 1rem;
    background-color: white;
}

input{
    color: black;
}

#search{
    background-color: transparent;
    border: none;
    font-size: 0.8rem;
    padding: 10px;
}

#search::placeholder{
    color: rgb(59, 59, 59);
    letter-spacing: 0.4px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#search:focus{
    outline: none;
}

i#icon{
    color: white;
    background-color: #555758;
    padding: 0.5rem;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    position: relative;
    left: 0.8px;
}

i#logo-icon{
    margin-right: 0.3rem;
    font-size: medium;
}

/* CSS for main */

#main{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#movie{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 18px;
    position: relative;
    overflow: hidden; 
    box-shadow: 0 0 20px rgb(181, 5, 5);
}

#movie img{
    width: 100%;
}

#movie-info{
    display: flex;
    justify-content: space-between;
    color: white;
    background-color:#386898; 
    padding: 0 0.5rem;
    font-weight: bold;
    align-items: center;
    letter-spacing: 0.5px;
}


#movie-info span{
    background-color:rgb(136, 51, 51);
    border-radius: 8px;
    padding: 0.3rem;
    font-size: 0.8rem;
}

#overview{
    background-color:white;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1rem;
    transform: translateY(100%);
    transition: transform 0.3s ease-in; 
}

#movie:hover #overview{
    transform: translateY(0%);
}

#overview h3{
    color: blue;
    text-transform: uppercase;
}